.DS_Store

# Bun
node_modules/

# Dev
dev/

# Prod
dist/
builds/
changelogs/
assets/shared

# Xcode
*.xcuserstate
*.xcuserdatad
xcode/Aria Clip/Version.xcconfig
xcode/Aria Clip/Shared (App)/Resources/Script.js

.context
.cursorrules
.env
context/
