@use "sass:meta";
@use 'styles/_variables';

* {
	box-sizing: border-box;
}

html {
	font-size: 16px;
}

body {
	padding: 0;
	margin: 0;
	background-color: var(--background-primary);
	color: var(--text-normal);
	line-height: 1.4;
	font-family: var(--font-default);
	font-size: var(--font-ui-medium);
}

@include meta.load-css('styles/mobile');

@include meta.load-css('styles/buttons');
@include meta.load-css('styles/charts');
@include meta.load-css('styles/dragging');
@include meta.load-css('styles/dropdowns');
@include meta.load-css('styles/icons');
@include meta.load-css('styles/inputs');
@include meta.load-css('styles/inspect-variables');
@include meta.load-css('styles/interpreter');
@include meta.load-css('styles/menu');
@include meta.load-css('styles/modals');
@include meta.load-css('styles/popup');
@include meta.load-css('styles/properties');
@include meta.load-css('styles/rtl');
@include meta.load-css('styles/safari');
@include meta.load-css('styles/reader-themes');
@include meta.load-css('styles/highlights');
@include meta.load-css('styles/reader-view');
@include meta.load-css('styles/settings');
@include meta.load-css('styles/side-panel');
@include meta.load-css('styles/templates');
@include meta.load-css('styles/tree-items');
@include meta.load-css('styles/toggles');

a.text-muted,
.text-muted {
	color: var(--text-muted);
}

.text-warning {
	color: var(--text-warning);
}

.small {
	font-size: var(--font-ui-small);
}

strong {
	font-weight: 600;
}

h2 {
	font-size: 1.5rem;
	line-height: 1.1;
	margin-bottom: 0.25rem;
}
h3 {
	font-size: 1rem;
	font-weight: 600;
	padding-inline: 1rem;
}
h4 {
	font-size: var(--font-ui-medium);
}

pre, code {
	font-family: var(--font-monospace-default);
}

.is-hidden {
	display: none !important;
}
